<%- include('../../components/admin/upside') %>
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <!-- Gambar Buku di Kiri -->
                <div class="col-md-2 mx-5">
                    <img src="/image/books/<%= book.gambar %>" class="img-fluid rounded" alt="<%= book.judul %>" style="width: 500px; object-fit: cover;">
                    
                    <!-- Tombol Update dan Delete di Sebelah Kiri Bawah Gambar -->
                    <div class="mt-4">
                        <a href="/adminBooks/update/<%= book.id %>" class="btn btn-warning w-100 mb-2">Update</a>
                        <a href="/adminBooks/delete/<%= book.id %>" class="btn btn-danger w-100 mb-2" onclick="return confirm('Apakah Anda yakin ingin menghapus buku ini?')">Delete</a>
                        <a href="/adminBooks" class="btn btn-primary w-100">Kembali</a>
                    </div>
                </div>

                <!-- Informasi Buku di Kanan -->
                <div class="col-md-7">
                    <h2><b><%= book.judul %></b></h2>
                    <p><strong>Penulis:</strong> <%= book.penulis %></p>
                    <p><strong>Harga:</strong> Rp <%= book.harga %></p>
                    <p><strong>Tahun Terbit:</strong> <%= book.tahun_terbit %></p>
                    <p><strong>Stok:</strong> <%= book.stok %></p>
                    <p><strong>Deskripsi:</strong></p>
                    <p><%= book.deskripsi %></p>
                </div>
            </div>
        </div>

    </div>
    <%- include('../../components/admin/bottomside') %>
